body {
    font-family: "Ubuntu", sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

textarea {
    min-height: 400px;
}

.account-title {
    font-weight: bold;
}

#compose-body {
    min-height: 300px;
}